* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    position: relative;
}

html,body {
    font-size: 10px;
    background-color: #f6f7fb;
    font-family: sans-serif;
}

.d-flex{
    display: flex;
}

.d-flex-justify-center {
    justify-content: center;
}

.d-flex-align-center {
    align-items: center;
}


#parent {
    height: 100vh;
}

#container {
    width: 35rem;
}

#steps {
    justify-content: space-between;
    margin-bottom: 3rem;
    position: relative;
}

.step {
    width: 30px !important;
    height: 30px;
    font-size: 1.6rem;
    border: 3px solid #e0e0e0;
    color: #999;
    border-radius: 50%;
    /* position: absolute; */
    /* z-index: 10; */
    
    transition: all 0.3s linear;
    /* text-align: center; */
}

/* .step-bridge-bg::after {
    content: "";
    border: 2px solid #999;
    width: 100%;
    position: absolute;
    left: 25px;

    margin-left: 20px;
    transform: translateX(1rem) scaleX(28);
    transform-origin: left;
    transform: ;

} */

.steps-bridge-bg {
    background-color: #e0e0e0;
    width: 23%;
    height: 4px;

}

.steps-bridge-bg div {
    height: 100%;
    
    /* width: 10px; */
    background-color:  rgb(52, 152, 219);
    /* background-color: red; */
    transform-origin: left;
    transform: scaleX(1);

    transition: all 2s ease-in-out;


    /* transition: all 5s; */
    /* overflow: hidden; */
}

.btn {
    padding: 0.8rem 3rem;
    margin: 0.5rem;
    background-color: #e0e0e0;
    border-color: transparent;
    color: white;
    border-radius: 0.8rem;
}

.btn-primary {
    background-color: rgb(52, 152, 219);
}

.active {
    border-color: rgb(52, 152, 219);
    transition: all 0.3s linear;
}

