#best-mobiles {
    width: 98%;
    background-color: white;
    margin: 18px;
    /* margin-top: 0; */
    padding: 26px;
    position: relative;
}
#best-mobiles-card-container {
    width: 100%;
    display: flex;
    gap: 16px;
    margin-top: 20px;
    overflow: hidden;
}
#best-mobiles-card-container .best-mobiles-card {
    min-width: 220px;
    height: 250px;
    border: 1px solid rgba(64, 64, 64, 0.3);
}
#best-mobiles-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#best-mobiles-cta {
    margin: 0px 10px;
}
#best-mobiles-left, #best-mobiles-right{
    position: absolute;
    top: 50%;
    border-radius: 0;
    padding: 35px 10px;
}
#best-mobiles-left {
    left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#best-mobiles-right{
    right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}