* {
    margin: 0px;
    box-sizing: border-box;
}
h1{
    margin-top: 30px;
    /* padding: 20px; */
    text-align: center;
}
#parent {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
#container {
    width: 80%;
    display: flex;
    justify-content: space-between;

}
#container .displayImage {
    width: 120px;
    height: 500px;
    margin-right: 20px;
    border-radius: 50px;
    background-position: center;
    background-size: cover;

    transition: all 1s ease-in-out;

    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    padding: 25px;
    color: white;
}

/* #container div:first-child {
    width: 700px;
} */

#container .active {
    width: 700px;
}

.displayImage h2, .displayImage h4 {
    opacity: 0;
}

.active h2, .active h4 {
    opacity: 1;
    max-width: 80%;
    height: 30px; 
    overflow: hidden;
    
    transition: all 0.1s linear;
}

.active h4 {
    height: 20px;
    transition: all 0.1s linear;

}

/* #imageTittle {
    width: 70px;
} */
